force-app/main/default/flows/CreateNewCastSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignContactToCollection</name>
        <label>Assign Contact To Collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewCastCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCastRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCastsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewCastRecord</name>
        <label>Assign New Cast Record</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCastRecord.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateCastsLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCastRecord.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovieRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCastRecord.PricePerHour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateCastsLoop.PricePerHour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCastRecord.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CharacterName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContactToCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create New Cast Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Cast Subflow</label>
    <loops>
        <name>CreateCastsLoop</name>
        <label>Create Casts Loop</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>SelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CharacterNameSelect</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewCast</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewCast</name>
        <label>Create New Cast</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>NewCastCollection</inputReference>
    </recordCreates>
    <screens>
        <name>CharacterNameSelect</name>
        <label>Character Name Select</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignNewCastRecord</targetReference>
        </connector>
        <fields>
            <name>ContactNameHelper</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Give a character name to &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!CreateCastsLoop.FirstName} {!CreateCastsLoop.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CharacterName</name>
            <dataType>String</dataType>
            <fieldText>Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateCastsLoop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MovieRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCastCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>NewCastRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
