force-app/main/default/flows/MovieCastPreparationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddToList</name>
        <label>Add to list</label>
        <locationX>264</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>FiltredContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FilterByRolesNeeded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterByRolesNeeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewActorCountToScript</name>
        <label>Assign New Actor Count To Script</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedScript.NumberOfActors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCastMemberCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMovieCastCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count Actors</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ActorCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdAssignment</name>
        <label>Assign contact&apos;s ID to collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RelatedMovieContactIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumTheCastRecords.Actor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumTheCastRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CastrecordCountIsGreater</name>
        <label>Cast Record Count Is Greater</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>ActorsLimitExeeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Message</defaultConnectorLabel>
        <rules>
            <name>Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActorCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetRelatedScript.NumberOfActors__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AvailableFromScreen</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>396</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>FilterByRolesNeeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Discard</defaultConnectorLabel>
        <rules>
            <name>Keep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedScript.RolesNeeded__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FilterByRolesNeeded.RoleTypes__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToList</targetReference>
            </connector>
            <label>Keep</label>
        </rules>
    </decisions>
    <description>Movie Cast Preparation Preparation Flow</description>
    <environments>Default</environments>
    <interviewLabel>Movie Cast Preparation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movie Cast Preparation Process</label>
    <loops>
        <name>FilterByRolesNeeded</name>
        <label>Filter By Roles Needed</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <collectionReference>GetUnrelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShowCastsScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SumTheCastRecords</name>
        <label>Sum The Cast Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>GetRelatedMovieCast</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CastrecordCountIsGreater</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewCast</name>
        <label>Create New Cast</label>
        <locationX>176</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>NewCastCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentMovie</name>
        <label>Get current movie</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedMovieCast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeActor</name>
        <label>Get Record Type Actor</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUnrelatedContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedMovieCast</name>
        <label>Get Related Movie Cast</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedScript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedScript</name>
        <label>Get Related Script</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumTheCastRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentMovie.Script__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnrelatedContacts</name>
        <label>Get Unrelated Contacts</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilterByRolesNeeded</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>RelatedMovieContactIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFromPicker</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableFrom__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeActor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMovieCastCount</name>
        <label>Update Movie Cast Count</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>AvailableFromScreen</targetReference>
        </connector>
        <inputReference>GetRelatedScript</inputReference>
    </recordUpdates>
    <screens>
        <name>ActorsLimitExeeded</name>
        <label>Actors Limit Exeeded</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewCastValue</targetReference>
        </connector>
        <fields>
            <name>ActorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;No more actors needed. Press Next button to add additional backup actors.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AvailableFromScreen</name>
        <label>Available From Screen</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecordTypeActor</targetReference>
        </connector>
        <fields>
            <name>AvailableFromPicker</name>
            <dataType>Date</dataType>
            <fieldText>Available From Picker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewCastValue</name>
        <label>New Cast Value</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignNewActorCountToScript</targetReference>
        </connector>
        <fields>
            <name>NewCastMemberCount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ActorCount</elementReference>
            </defaultValue>
            <fieldText>New Cast Member Count</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowCastsScreen</name>
        <label>Show Casts Screen</label>
        <locationX>176</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCastRecords</targetReference>
        </connector>
        <fields>
            <name>UnrelatedContactPickScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of available actors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FiltredContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-c390&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-2a57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-6d2d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-ba78&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Business Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;AvailableFrom__c&quot;,&quot;guid&quot;:&quot;column-a98c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Available From&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Add cast to the movie: &lt;strong&gt;{!GetCurrentMovie.Title__c}&lt;/strong&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actors were added to movie cast!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentMovie</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CreateCastRecords</name>
        <label>Create Cast Records</label>
        <locationX>176</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>CreateNewCast</targetReference>
        </connector>
        <flowName>CreateNewCastSubflow</flowName>
        <inputAssignments>
            <name>MovieRecordID</name>
            <value>
                <elementReference>MovieRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedRows</name>
            <value>
                <elementReference>UnrelatedContactPickScreen.selectedRows</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>stores count of actors assigned to a movie</description>
        <name>ActorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_DiscardRecordFormCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_X3e23</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FiltredContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MovieRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCastCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>NewCastRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>RelatedMovieContactIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedToMovieContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
